[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
pillow = "*"
numpy = "==1.15.4"

[dev-packages]
pytest = "*"
pytest-cov = "*"
pytest-mock = "*"
mypy = "*"
psutil = "*"
pytest-profiling = "*"
snakeviz = "*"

[requires]
python_version = "3.6"
