[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
pillow = "*"
numpy = "*"
pyrsistent = "*"

[dev-packages]
pytest = "*"
pytest-cov = "*"
pytest-mock = "*"
mypy = "*"
psutil = "*"

[requires]
python_version = "3.6"
